{{extend "layout2.html"}}
{{block menu}}{{menu('file')}}{{end menu}}

{{block content2}}
{{<<tagstring(path.path,crtype2csstag(path.crtype))}}
<ul>
{{
import os
if path.parent!=None:
    s = '<li><a href="/dir/%d">[Parent directory]</a></li>'%(path.parent.id)
    out.write(s,escape=False)
pass
for child in children:
    n = os.path.split(child.path)[1]
    if child.type=='d':
        n+="/"
    pass
    tag = crtype2csstag(child.crtype)
    s = '<li><%s><a href="/%s/%d">%s</a></%s></li>'%(tag,PTYPE2URI[child.type],child.id,n,tag)
    out.write(s,escape=False)
pass
}}
</ul>
{{<<rform}}
{{end content2}}
