{{extend "layout2.html"}}

{{block content2}}
{{use "jquery"}}
{{use "ztree"}}

<SCRIPT LANGUAGE="JavaScript">
var setting = {
        view:{
            nameIsHTML:true,
            },
        data:{
            simpleData:{
                enable:true,
                idKey:'id',
                pIdKey:'pId',
                }
            },
        async:{
            enable:true,
            url:"/treenode",
            autoParam: ["id"],
            },
};

$(document).ready(function(){
    $.fn.zTree.init($("#treeDirectory"), setting);
});
</SCRIPT>

<ul id="treeDirectory" class="ztree"></ul>

<table class="table">
<tbody>
<tr><th>index</th><th>Release Package</th><th>Copyright Info</th><th>Note</th></tr>
{{
index = 1
for path in list(pathes):
    s = "<tr><td>%d</td><td>%s</td><td>%s</td><td>%s</td></tr>\n"%(index,get_dir_html(path),get_cr_html(path),path.rnote)
    index +=1
    out.write(s,escape=False)
pass
}}
</tbody></table>

{{end content2}}
