{{extend "layout2.html"}}

{{block content2}}
{{use "jquery"}}
{{use "avalon"}}
<style>
td.released {
    background-color: #009933;
}
</style>
<div ms-controller="scancopyright">

<legend>Source code tree</legend>

<div class="row">

<div class="span5">

<script type="text/avalon" id="tmpl">
    <ul ms-each-el="el.subtree" class="none_list_style">
        <li>
            <i ms-class="icon-minus:el.cnum>0&&el.open" ms-class-1="icon-plus:el.cnum>0&&(!el.open)" ms-class-2="icon-minus:el.cnum<=0" ms-class-3="icon-white:el.cnum<=0" ms-click="pingpong_open(el)"></i>
            <i ms-class="icon-folder-open:el.isparent&&el.open" ms-class-1="icon-folder-close:el.isparent&&(!el.open)" ms-class-2="icon-file:!el.isparent" ms-click="pingpong_open(el)"></i>
            <span ms-class="{%el.csstag%}" ms-click="select(el)">{%el.name%}</span>
            <span ms-visible="el.package_root"><i class="icon-home"></i></span>
            <span ms-visible="el.release"><i class="icon-share-alt"></i></span>
            <span ms-visible="el.selected" class="label label-warning">SELECTED</span>
            <div ms-include="'tmpl'" ms-visible="el.cnum>0&&el.open" ></div>
        </li>
    </ul>
</script>

<ul ms-each-el="dtree" class="none_list_style">
    <li>
        <i ms-class="icon-minus:el.cnum>0&&el.open" ms-class-1="icon-plus:el.cnum>0&&(!el.open)" ms-click="pingpong_open(el)"></i>
        <i ms-class="icon-folder-open:el.isparent&&el.open" ms-class-1="icon-folder-close:el.isparent&&(!el.open)" ms-class-2="icon-file:!el.isparent"></i>
        {%el.name%}
        <div ms-include="'tmpl'" ms-visible="el.cnum>0&&el.open" ></div>
    </li>
</ul>

</div><!-- <div class="span5"> -->

<div class="span7">

<div ms-visible="cpath!=''">
<dl class="dl-horizontal">
    <dt>link</dt><dd><i ms-class="icon-folder-close:cpath_isdir" ms-class-1="icon-file:!cpath_isdir"></i><a ms-href="/view/{%cpathid%}">{%cpath%}</a></dd>
    <div ms-visible="cpath_isdir">
        <dt>package root</dt><dd><input type="checkbox" ms-duplex-checked="cpath_package_root" ms-click="cpath_package_root_click()"/></dd>
        <div ms-visible="cpath_package_root">
            <dt>release</dt><dd><input type="checkbox" name="release" ms-duplex-checked="cpath_release"/></dd>
            <dt>note</dt><dd><textarea rows="3" ms-duplex="rnote"></textarea></dd>
            <dt>action</dt><dd><button class="btn btn-info" ms-duplex="cpath_cel.rnote" ms-class="disabled:!rnote_changed" ms-click="update_rnote()" type="button">save release note</button></dd>
        </div>
    </div>
    <div ms-visible="!cpath_isdir">
        <dt>text view</dt><dd><div class="srccode" ms-include-src="/inc/ftxt/{%cpathid%}"></div></dd>
    </div>
</dl>
</div><!-- ms-visible="cpath!=''" -->

</div><!-- <div class="span7"> -->

</div><!-- <div class="row"> -->
<legend>Package list</legend>

<dl class="dl-horizontal">
    <dt>package list</dt>
    <dd>
        <form enctype="multipart/form-data" method="POST">
        <fieldset>
        <input type="file" name="package_list_file" ms-visible="!package_list_file_auto_detect"></input>
        <label class="checkbox">
            <input type="checkbox" name="package_list_file_auto_detect" ms-duplex-checked="package_list_file_auto_detect"> Auto detect(.repo/project.list)
        </label>
        <label class="checkbox">
            <input type="checkbox" name="clean_before_import"> Clean package list before import
        </label>
        <input type="hidden" name="action_package_list_import" value="on">
        <button type="submit" class="btn">import package list</button>
        </fieldset>
        </form>
    </dd>
    <dt>export</dt>
    <dd><button ms-click="export_packages">export</button> to <strong>{{=dir_export}}</dd></strong>
    <div ms-visible="export_result!=''">
    <dt>export result</dt>
    <dd>
        <span class="label label-success" ms-visible="export_ret=='ok'">export OK:</span>
        <span class="label label-important" ms-visible="export_ret=='fail'">export FAIL:</span>
        <pre>{%export_result%}</pre>
    </dd>
    </div>
</dl>

<table class="table table-bordered">
<thead>
<tr><th>index</th><th>Package</th><th>Copyright Info</th><th>Release</th><th>Note</th></tr>
</thead>
<tbody  ms-each-el="package_list">
<tr>
    <td>{%$index+1%}</td>
    <td><a ms-href="/view/{%el.id%}">{%el.path%}</a></td>
    <td><div ms-include-src="/inc/pathcr/{%el.id%}"></div></td>
    <td ms-class="released:el.release"><input type="checkbox" name="release" ms-duplex-checked="el.release" ms-click="el_release_click(el.id,el.release)"/><span ms-visible="el.release"><i class="icon-share-alt"></i></span></td>
    <td>{%el.rnote|html%}</td>
</tr>
</tbody>
</table>

<script>
var model = avalon.define("scancopyright", function(vm){
    vm.dtree = []

    vm.update_dtree = function(){
        $.ajax({
          type: "GET",
          url: "/api/subtree/0?open=true",
          success: function(data){
            var dtree = data
            vm.dtree = dtree
          }
        })
    }

    vm.pingpong_open = function(el){
        if (el.cnum>0)
        {
            open_nv = !el.open
            if (open_nv && el.cnum>0 && el.subtree.length==0)
            {
                $.ajax({
                  type: "GET",
                  url: "/api/subtree/"+el.id+"?open=true",
                  success: function(data){
                    var subtree = data
                    el.subtree = subtree
                    el.open = open_nv
                  }
                })
            }
            else
            {
                el.open = open_nv
            }
        }
    }

    vm.cpath = ""
    vm.cpathid = 0
    vm.cpath_isdir = false
    vm.cpath_package_root = false
    vm.cpath_release = false
    vm.cpath_cel = null
    vm.select = function(el){
        $.ajax({
          type: "GET",
          url: "/api/pathinfo/"+el.id,
          success: function(data){
            var pinfo = data

            vm.cpath = pinfo.path
            vm.cpath_isdir = (pinfo.type=='d')
            vm.cpathid = pinfo.id
            vm.cpath_package_root = pinfo.package_root
            vm.cpath_release = pinfo.release
            vm.rnote = vm.cpath_cel.rnote
            vm.rnote_changed = false
          }
        })
        if (vm.cpath_cel!=null)
        {
            vm.cpath_cel.selected = false
        }
        vm.cpath_cel = el
        vm.cpath_cel.selected = true
    }
    vm.$watch('cpath_release',function(nv,ov){
        if (nv==null){nv = false}
        //console.log(vm.cpath_cel.release+" nv:"+nv+" ov:"+ov)
        if (vm.cpath_cel.release != nv) {
            $.ajax({
              type: "POST",
              url: "/api/setrelease/"+vm.cpath_cel.id,
              data: {value:nv},
              success: function(data){
                if (data.ret) {
                    show_message("update release = "+nv+" OK")
                    vm.cpath_cel.release = nv
                    vm.update_package_list()
                }
              }
            })
        }
    })
    vm.cpath_package_root_click = function() {
        //avalon.log(vm.cpath+" root:"+vm.cpath_package_root)
        $.ajax({
          type: "POST",
          url: "/api/set_package_root/"+vm.cpath_cel.id,
          data: {value:vm.cpath_package_root},
          success: function(data){
            if (data.ret) {
                show_message("update package root "+vm.cpath_package_root+" OK")
                vm.cpath_cel.package_root = vm.cpath_package_root
                vm.update_package_list()
            }
          }
        })
    }
    vm.el_release_click = function(id,release) {
        //avalon.log(id+" "+release)
        $.ajax({
          type: "POST",
          url: "/api/setrelease/"+id,
          data: {value:release},
          success: function(data){
            if (data.ret) {
                show_message("update release = "+release+" OK")
            }
            else {
                show_message("update release = "+release+" Fail","error")
                vm.update_package_list()
            }
          }
        })
    }

    vm.rnote = ""
    vm.rnote_changed = false
    vm.$watch('rnote',function(nv,ov){
        vm.rnote_changed = true
    })
    vm.update_rnote = function(){
        $.ajax({
          type: "POST",
          url: "/api/setrnote/"+vm.cpath_cel.id,
          data: {value:vm.rnote},
          success: function(data){
            if (data.ret) {
                vm.rnote_changed = false
                show_message("save note ok")
                vm.update_package_list()
            }
          }
        })
    }

    //package list
    vm.package_list_file_auto_detect = true
    vm.package_list=[]
    vm.update_package_list = function(){
        $.ajax({
          type: "GET",
          url: "{{=url_for('Scan.views.api_package_list')}}",
          success: function(data){
            var package_list = data
            vm.package_list = package_list
          }
        })
    }
    vm.export_result = ""
    vm.export_ret = ""
    vm.export_packages = function() {
        $.ajax({
          type: "POST",
          url: "{{=url_for('Scan.views.api_export_packages')}}",
          data: {},
          success: function(data){
            show_message("export "+data.ret)
            vm.export_result = data.result
            vm.export_ret = data.ret
          }
        })
    }
})

model.update_dtree()
model.update_package_list()

</script>
</div><!-- <div ms-controller="scancopyright"> -->
{{end content2}}
