{{extend "layout2.html"}}

{{block content2}}
{{use "jquery"}}
{{use "ztree"}}

<SCRIPT LANGUAGE="JavaScript">
var setting = {
        view:{
            nameIsHTML:true,
            },
        data:{
            simpleData:{
                enable:true,
                idKey:'id',
                pIdKey:'pId',
                }
            },
        async:{
            enable:true,
            url:"/treenode",
            autoParam: ["id"],
            },
};

$(document).ready(function(){
    $.fn.zTree.init($("#treeDirectory"), setting);
});
</SCRIPT>

<ul id="treeDirectory" class="ztree"></ul>

{{end content2}}