{{extend "layout.html"}}
{{block user_info}}{{end user_info}}

{{block content}}
<style type="text/css">
cr_no {}
cr_cr {background-color:PapayaWhip;}
cr_ih {background-color:MediumSlateBlue;}
cr_gpl {color:Moccasin; background-color:Green;}
cr_oos {color:Ivory; background-color:LightGreen;}
cr_mixed {color:PeachPuff; background-color:Purple;}
cr_conflict {color:SlateBlue; background-color:Red;}
fpath {font-weight:bold;}
</style>
{{block crcssexample}}
<cr_no>No copyright info</cr_no>
<cr_cr>Having copyright string but can not identify</cr_cr>
<cr_ih>Proprietary</cr_ih>
<cr_gpl>GPL(or other licence should opensource)</cr_gpl>
<cr_oos>Other open source licence</cr_oos>
<cr_mixed>Mix copyright(Proprietary+OOS)</cr_mixed>
<cr_conflict>Conflict copyright(Proprietary+GPL)</cr_conflict>
<hr />
{{end crcssexample}}
{{block content2}}{{end content2}}
{{end content}}
