{{extend "layout.html"}}
{{block user_info}}{{end user_info}}

{{block content}}
<style type="text/css">
cr_no {}
cr_cr {background-color:PapayaWhip;}
cr_ih {background-color:MediumSlateBlue;}
cr_gpl {color:Moccasin; background-color:Green;}
cr_oos {color:Ivory; background-color:LightGreen;}
cr_mixed {color:PeachPuff; background-color:Purple;}
cr_conflict {color:SlateBlue; background-color:Red;}
</style>
{{block crcssexample}}
<cr_no>无版权信息</cr_no>
<cr_cr>有版权信息但无法鉴别</cr_cr>
<cr_ih>私有版权</cr_ih>
<cr_gpl>GPL或者需要开源的版权</cr_gpl>
<cr_oos>其他开源版权</cr_oos>
<cr_mixed>混合版权</cr_mixed>
<cr_conflict>版权冲突</cr_conflict>
<hr />
{{end crcssexample}}
{{block content2}}{{end content2}}
{{end content}}
