{{extend "layout.html"}}
{{block user_info}}{{end user_info}}

{{block content}}
<div class="container-fluid">
<div class="clearfix content-outter" style="margin: 0px 0px 0px 0px;">

<style type="text/css">
cr_no {}
cr_cr {background-color:Azure;}
cr_ih {background-color:#8fc9ef;}
cr_gpl {color:Moccasin; background-color:Green;}
cr_oos {background-color:LightGreen;}
cr_mixed {background-color:#e88fef;}
cr_conflict {background-color:#ff9e9e;}
fpath {font-weight:bold;}

ul.none_list_style {list-style-type:none;}

.cr_no {}
.cr_cr {background-color:Azure;}
.cr_ih {background-color:#8fc9ef;}
.cr_gpl {color:Moccasin; background-color:Green;}
.cr_oos {background-color:LightGreen;}
.cr_mixed {background-color:#e88fef;}
.cr_conflict {background-color:#ff9e9e;}
.srccode {background-color:#fffce6;}

</style>
{{block crcssexample}}
<cr_no>No copyright info</cr_no>
<cr_cr>Having copyright string but can not identify</cr_cr>
<cr_ih>Proprietary</cr_ih>
<cr_gpl>GPL(or other licence should opensource)</cr_gpl>
<cr_oos>Other open source licence</cr_oos>
<cr_mixed>Mix copyright(Proprietary+OOS)</cr_mixed>
<cr_conflict>Conflict copyright(Proprietary+GPL)</cr_conflict>
<hr />
{{end crcssexample}}
{{block content2}}{{end content2}}

</div>
</div>
{{end content}}
